<head> 
<title>Battle!</title>
</head>

<body>
  <div id="title-card">
    <%= "#{@game.player_1.name} vs. #{@game.player_2.name}" %>
  </div>

  <%= "#{@game.player_2.name}: #{@game.player_2.hp}/100 HP" %>

  <form action="/attack">
    <input type = "submit" value="Attack">
  </form>
</body>
